.header-content {
    display: flex;

}

.header-title {
    text-align: center;
    align-self: center;
    padding: 0.75rem 0.75rem;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

.header-content .material-symbols-outlined {
    padding: 0.75rem 0.75rem;
    font-size: 24px;
}

.header-return {
    border-right: 1px solid var(--border-color);
}

.header-return span {
    color: var(--primary);
}

.header-login {
    color: var(--primary);
    margin-left: auto;
    line-height: 24px;
    font-size: 18px;
    border-left: 1px solid var(--border-color);
}

.header-login button {
    padding: 0.75rem 0.75rem;
}

button {
    all: unset;
}

.header-url-chips {
    min-height: 1.9rem;
    border-bottom: 1px solid var(--border-color);
}

.header-url-chips>div {
    display: inline-block;
    border-right: 1px solid var(--border-color);

}

.header-url-chips>div>a {
    min-width: 3rem;
    text-align: center;
    display: block;
    padding: 0.50rem 0rem;
}