.table-container {
    overflow: auto;
}

.table {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--number-of-columns), 1fr);
    border-collapse: collapse;
    grid-gap: 0rem;
}

.table>.row {
    display: contents;
}

.table>.row:first-child>* {
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
    padding: 0.5rem 0.75rem;
}


.table>.row>* {
    white-space: nowrap;
    padding: 0.25rem 0.75rem;
}

.table-title {
    padding: 0.5rem 0.75rem;
    background-color: var(--background-color);
    display: inline-block;
}